body{background-color: #000000;
font-family: helvetica}
h1{
	text-align: center;
color:#ff0000;
font-size:50px;
font-family: helvetica; 
}
h2{text-align: center;
	color:#ff0000}
body{text-align: center;
	color:#ffffff}

a {color:white;}
a:hover{color: red}